<div class="row">

    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>List of URLs
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <ng2-smart-table [settings]="settings" [source]="source" class="col-lg-12">
            </ng2-smart-table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
