<div style="margin: 2em;">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <!--label>Select your task to view the analysis</label-->
        <select class="form-control" #selectElem (change)="setNewUser(selectElem.value)">
          <option *ngFor="let task of tasks" [value]="task.id">
              {{task.date}} {{task.url}}
          </option>
        </select>
      </div>

      <br><br><br>

      <div class="col-lg-12">
        <div class="row" style="padding-bottom: 1rem;">
          <div class="col-md-9">
            <ngx-analysis-bar [analysis]="displayList" class="col-md-12 col-lg-12" (update)="removal($event)"></ngx-analysis-bar>
            <!--ngx-analysis-bar-neg [analysis]="displayList" [style.height]="160" class="col-md-12 col-lg-12" (update)="removal($event)" #neg></ngx-analysis-bar-neg-->
          </div>

          <ng2-smart-table [settings]="chartSettings" [source]="chartSource" class="col-md-3">
          </ng2-smart-table>
        </div>

        <br>

        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-hero-info btn-demo col-md-12" (click)="combine()" style="margin:5px;" [disabled]="curr == 0">Combine</button>
            <button class="btn btn-hero-danger btn-demo col-md-12" (click)="delete()" style="margin:5px;" [disabled]="curr == 0">Delete</button>
            <br><br><br><br>
            <button class="btn btn-hero-success btn-demo col-md-12" (click)="save()" style="margin:5px;" [disabled]="curr == 0">Save</button>
            <button class="btn btn-hero-success btn-demo col-md-12" (click)="open()" style="margin:5px;" [disabled]="curr == 0">Open</button>
            <button class="btn btn-hero-primary btn-demo col-md-12" (click)="clear()" style="margin:5px;" [disabled]="curr == 0">Reset</button>
          </div>

          <ng2-smart-table [settings]="mainSettings" [source]="mainSource" class="col-md-7" (rowSelect)="select($event)">
          </ng2-smart-table>

          <ng2-smart-table [settings]="actionSettings" [source]="actionSource" class="col-md-3">
          </ng2-smart-table>

        </div>
      </div>
    </div>

    <div class="col-md-12" style="margin-top: 60px;">
      <ng2-smart-table [settings]="lcsSettings" [source]="lcsSource" class="col-md-3">
      </ng2-smart-table>
    </div>
  </div>
</div>
