@import '../../../../@theme/styles/themes';

.input-group.has-person-icon {
  position: relative;
  margin-top: 1rem;

  .form-control {
    padding-left: 3rem;
  }

  &::before {
    content: '\F2F5';
    font-family: 'Ionicons';
    font-size: 2rem;
    position: absolute;
    color: rgba(0, 0, 0, .2);
    z-index: 100;
    left: 1rem;
    top: 0.25rem;
  }
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

h1{
  min-height: 200px;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
}

.leftRs {
  font-size: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    //width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
  font-size: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    //width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}
