<div class="row">
  <div class="col-lg-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Pictures from URL(s)
        <div class="input-group has-person-icon">
          <select class="form-control col-md-2" #selectElem1 (change)="setIn(selectElem1.value)" style="margin-left:10px;margin-right:5px;">
            <option *ngFor="let task of tasks1" [value]="task.id">
                {{task.description}}
            </option>
          </select>

          <input type="text" placeholder="Search for comments that contain" class="form-control col-md-5"
            [(ngModel)]="filterInput" (ngModelChange)="include($event)" />

          <input type="text" placeholder="Exclude comments that contain" class="form-control col-md-5" style="margin-left:5px;margin-right:10px;"
            [(ngModel)]="excludeInput" (ngModelChange)="exclude($event)" />
          <!--select class="form-control col-md-2" #selectElem2 (change)="setEx(selectElem2.value)">
            <option *ngFor="let task of tasks2" [value]="task.id">
                {{task.description}}
            </option>
          </select-->
        </div>
        <small class="form-text col-md-12" style="margin-top: 1rem;">
          You may use commas to separate your search terms
        </small>
      </nb-card-header>

      <nb-card-body>
        <ngx-carousel
          [inputs]="carouselTile"
          (carouselLoad)="carouselTileLoad($event)" #carousel>

            <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems" (mouseenter)="setShowingComment(Tile.label)">
              <div class="item" style="transform: translate3d(0px, 0px, 0px);"><div class="tile">
                <div class="tile fill">
                    <img src="{{Tile.img}}" style="max-height: 500px; object-fit: cover;">
                </div>

                <div class="rel" id="example5reference1"
                  #popper5
                  [popper]="popper2Content"
                  [popperTrigger]="'hover'"
                  [popperPlacement]="'auto'">
                  <p style="padding: 1rem;">{{trimComment(Tile.label)}}</p>
                </div>
              </div>
            </div>
          </ngx-tile>

          <button NgxCarouselPrev class='leftRs btn btn-hero-success btn-demo' (click)="loadPrev()">&lt;</button>
          <button NgxCarouselNext class='rightRs btn btn-hero-success btn-demo' (click)="loadNext()">&gt;</button>

        </ngx-carousel>

        <popper-content #popper2Content id="example2popper1" style="z-index: 1000 !important;">
          <p class="thin" style="margin-left:1rem;margin-right:1rem;">{{showingComment}}</p>
        </popper-content>

        <label style="display: block;text-align: center;">Page {{carouselPage}} / {{carouselMaxPage}}</label>
      </nb-card-body>
    </nb-card>
  </div>
</div>
