<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-tabset>
      <nb-tab tabTitle="Create eCommerce Task">
        <div style="margin-left: 2em; margin-right: 2em; margin-top: 3em;">
        <div *ngIf="errors && errors.length > 0 && !submitted"
            class="alert alert-danger" role="alert" style="background-color: white">
          <div><strong>Oh snap! Something went wrong with your submission 😥</strong></div>
          <div *ngFor="let error of errors">{{ error }}</div>
        </div>

        <div *ngIf="messages && messages.length > 0 && !submitted"
            class="alert alert-success" role="alert" style="background-color: white">
          <div><strong>Your task has been submitted to us! 👍</strong></div>
          <div>You will receive the full verbatim in your email once processing is completed. Please check spam mail in case the email is channeled there</div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <strong>Step 1: Enter a title for your task</strong><br><br><br>

            <form class="form-inline" (ngSubmit)="submit(form)" name="form" #form="ngForm" autocomplete="nope">

              <small class="form-text error" *ngIf="url.invalid && url.touched" style="margin-bottom: 1rem;">
                Valid title is required!
              </small>

              <div class="input-group full-width">
                <span class="input-group-btn">
                  <button class="btn btn-primary input-group-text" type="button">
                    Title
                  </button>
                </span>
                <input name="url" type="url" class="form-control" placeholder="Enter title of this task (E.g. My Project Task)"
                  [(ngModel)]="submission.url" #url="ngModel" required
                  [class.form-control-danger]="url.invalid && url.touched" autofocus
                  [required]="true" [autofocus]="false">
              </div>
            </form>
          </div>

          <div class="col-md-12" style="margin-top: 50px;">
            <strong>Step 2: Paste URL(s) of item product page to analyze the reviews</strong><br><br>
            <label class="col-sm-12 col-form-label" style="margin-left: 25px;margin-right: 25px;">
              Currently we support <a href="https://tmall.com/">Tmall</a>, <a href="https://www.jd.com/">JD</a>, <a href="https://taobao.com/">Taobao</a>, <a href="https://www.lenor.co.uk">Lenor</a>, <a href="https://www.supersavvyme.co.uk/">Supersavvyme</a> and <a href="https://www.victoria.co.uk/">Victoria</a><br>
              Note that mobile URLs are not accepted
            </label><br><br>

            <small class="form-text error" *ngIf="!validurl" style="margin-bottom: 1rem;">
              Are you sure you've entered valid product page(s)? Invalid or unrecognized URL may not work as expected
            </small>

            <div style="margin-left: 25px;margin-right: 25px;">
              <ng2-smart-table [settings]="settings" [source]="urls">
              </ng2-smart-table>
            </div>

            <form class="form-inline col-md-12" (ngSubmit)="addToList()" autocomplete="nope" style="margin-top: 25px;">
              <div class="row col-md-12">
                <input name="url" type="url" class="form-control col-md-12" placeholder="1. Enter a valid product URL"
                  [(ngModel)]="urlList[0]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(1)" (focus)="focus(1)">

                <input name="url" type="url" class="form-control col-md-12" placeholder="2. Enter a valid product URL"
                  [(ngModel)]="urlList[1]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(2)" (focus)="focus(2)">

                <input name="url" type="url" class="form-control col-md-12" placeholder="3. Enter a valid product URL"
                  [(ngModel)]="urlList[2]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(3)" (focus)="focus(3)">

                <input name="url" type="url" class="form-control col-md-12" placeholder="4. Enter a valid product URL"
                  [(ngModel)]="urlList[3]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(4)" (focus)="focus(4)">

                <input name="url" type="url" class="form-control col-md-12" placeholder="5. Enter a valid product URL"
                  [(ngModel)]="urlList[4]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(5)" (focus)="focus(5)">

                  <button class="btn btn-md btn-success col-md-3" style="margin: 0.5rem;" type="submit">Add URLs to List</button>
              </div>
            </form>

          </div>

          <div class="col-md-12" style="margin-top: 50px;">
            <strong>Step 3: Select your analysis option(s)</strong>

            <div class="row" style="margin: 25px;">
              <select class="form-control col-md-5" #selectElem (change)="set(selectElem.value)">
                <option *ngFor="let task of tasks" [value]="task.id">
                  {{task.description}}
                </option>
              </select>
              <nb-checkbox class="col-md-12" [value]="false" (change)="picSelect = !picSelect" style="margin-top: 25px;">Include pictures (For Tmall, JD only)</nb-checkbox>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 50px;margin-bottom: 25px;">
          <strong>Step 4: Submit your task</strong>
          <div class="row" style="margin: 25px;">
            <button [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted"
              type="submit" class="btn btn-primary col-md-3" (click)="submit(form)">Submit</button>
          </div>
        </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Create Social Media Task">
        <div style="margin-left: 2em; margin-right: 2em; margin-top: 3em;">

        <div *ngIf="errors && errors.length > 0 && !submitted"
          class="alert alert-danger" role="alert" style="background-color: white">
          <div><strong>Oh snap! Something went wrong with your submission 😥</strong></div>
          <div *ngFor="let error of errors">{{ error }}</div>
        </div>

        <div *ngIf="messages && messages.length > 0 && !submitted"
            class="alert alert-success" role="alert" style="background-color: white">
          <div><strong>Your task has been submitted to us! 👍</strong></div>
          <div>You will receive the full verbatim in your email once processing is completed. Please check spam mail in case the email is channeled there</div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <strong>Step 1: Enter a title for your task</strong><br><br><br>

            <form class="form-inline" (ngSubmit)="submit2(form2)" name="form2" #form2="ngForm" autocomplete="nope">

              <small class="form-text error" *ngIf="url2.invalid && url2.touched" style="margin-bottom: 1rem;">
                Valid title is required!
              </small>

              <div class="input-group full-width">
                <span class="input-group-btn">
                  <button class="btn btn-primary input-group-text" type="button">
                    Title
                  </button>
                </span>
                <input name="url2" type="url" class="form-control" placeholder="Enter title of this task (E.g. My Project Task)"
                  [(ngModel)]="submission2.url" #url2="ngModel" required
                  [class.form-control-danger]="url2.invalid && url2.touched" autofocus
                  [required]="true" [autofocus]="false">
              </div>
            </form>
          </div>

          <div class="col-md-12" style="margin-top: 50px;">
            <strong>Step 2: Select Social Media source</strong><br><br>
            <select class="form-control col-md-5" #selectMediaElem (change)="set2(selectMediaElem.value)">
              <option *ngFor="let media of medium" [value]="media.id">
                {{media.description}}
              </option>
            </select>
          </div>


        <div class="col-md-12" style="margin-top: 50px;">
          <strong>Step 3: Enter keyword(s) you are interested in</strong><br><br>
          <label class="col-sm-12 col-form-label" style="margin-left: 25px;margin-right: 25px;">
            You may enter one or more keywords, separated by comma or <i>Enter key</i>
          </label>

          <div class="row" style="margin: 25px;">
            <tag-input [(ngModel)]="keywords" class="col-md-12"
              (onSelect)="onSelect($event)"
              [modelAsStrings]="true"
              [separatorKeyCodes]="[188]"
              [addOnBlur]="true"
              [theme]="'dark'"
              [placeholder]="'Keywords here'"
              [secondaryPlaceholder]="'Keywords here'">
            </tag-input>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 50px;margin-bottom: 25px;">
          <strong>Step 4: Submit your task</strong>
          <div class="row" style="margin: 25px;">
            <button [disabled]="submitted2 || !form2.valid" [class.btn-pulse]="submitted2"
              type="submit" class="btn btn-primary col-md-3" (click)="submit2(form2)">Submit</button>
          </div>
        </div>
      </div>
        </div>
      </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
