<toaster-container [toasterconfig]="config"></toaster-container>

<div style="margin: 2em;">
  <strong>Step 1: Enter a title for your task</strong>

  <form class="form-inline" (ngSubmit)="submit(form)" name="form" #form="ngForm" autocomplete="nope" style="margin: 25px;">
    <small class="form-text error" *ngIf="url.invalid && url.touched" style="margin-bottom: 1rem;">
      Valid title is required!
    </small>

    <div class="input-group full-width">
      <span class="input-group-btn">
        <button class="btn btn-primary input-group-text" type="button">
          Title
        </button>
      </span>
      <input name="url" type="url" class="form-control" placeholder="Enter title of this task (E.g. My Project Task)"
        [(ngModel)]="submission.url" #url="ngModel" required
        [class.form-control-danger]="url.invalid && url.touched" autofocus
        [required]="true" [autofocus]="false">
    </div>
  </form>

  <strong>Step 2: Select your monitoring date range</strong>

  <form #myForm="ngForm" novalidate style="margin: 25px;">
    <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
      [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)" required #dateranger="mydaterangepicker"></my-date-range-picker>
  </form>

  <br><br>

  <strong>Step 3: Paste URL(s) of item product page to analyze the reviews</strong>

  <div style="margin-top: 25px;">
    <label class="col-sm-12 col-form-label" style="margin-left: 25px;margin-right: 25px;">
        Currently we support <a href="https://tmall.com/">Tmall</a>, <a href="https://www.jd.com/">JD</a>, <a href="https://taobao.com/">Taobao</a>, <a href="https://www.lenor.co.uk">Lenor</a>, <a href="https://www.supersavvyme.co.uk/">Supersavvyme</a> and <a href="https://www.victoria.co.uk/">Victoria</a><br>
        Note that mobile URLs are not accepted
      </label><br><br>

      <small class="form-text error" *ngIf="!validurl" style="margin-bottom: 1rem;">
        Are you sure you've entered valid product page(s)? Invalid or unrecognized URL may not work as expected
      </small>

      <div style="margin-left: 25px;margin-right: 25px;">
        <ng2-smart-table [settings]="settings" [source]="urls">
        </ng2-smart-table>
      </div>

      <form class="form-inline col-md-12" (ngSubmit)="addToList()" autocomplete="nope" style="margin-top: 25px;">
        <div class="row col-md-12">
          <input name="url" type="url" class="form-control col-md-12" placeholder="1. Enter a valid product URL"
            [(ngModel)]="urlList[0]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(1)" (focus)="focus(1)">

          <input name="url" type="url" class="form-control col-md-12" placeholder="2. Enter a valid product URL"
            [(ngModel)]="urlList[1]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(2)" (focus)="focus(2)">

          <input name="url" type="url" class="form-control col-md-12" placeholder="3. Enter a valid product URL"
            [(ngModel)]="urlList[2]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(3)" (focus)="focus(3)">

          <input name="url" type="url" class="form-control col-md-12" placeholder="4. Enter a valid product URL"
            [(ngModel)]="urlList[3]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(4)" (focus)="focus(4)">

          <input name="url" type="url" class="form-control col-md-12" placeholder="5. Enter a valid product URL"
            [(ngModel)]="urlList[4]" #url="ngModel" style="margin: 0.5rem;" (blur)="blur(5)" (focus)="focus(5)">

            <button class="btn btn-md btn-success col-md-3" style="margin: 0.5rem;" type="submit">Add URLs to List</button>
        </div>
      </form>
  </div>

  <br><br>

  <strong>Step 4: Submit your task</strong>

  <div class="row" style="margin: 25px;">
    <button [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted"
      type="submit" class="btn btn-primary col-md-3" (click)="submit(form)">Submit</button>
  </div>
</div>
