<toaster-container [toasterconfig]="config"></toaster-container>

<div *ngIf="empty" class="alert alert-danger" role="alert" style="margin: 20px;text-align:center;">
  <strong>You have not submitted any viduce task yet! Do you want to <a href="#/pages/forms/newvideo" style="color: #993d4c;">submit a new task</a> to analyze,
    or view an <a href="#/pages/charts/viduce?task=2018-03-11-09-31-31gdydvkyf" style="color: #993d4c;">example</a>?</strong>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Select Task to Analyze</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <!--label>Select your task to view the analysis</label-->
          <select class="form-control" #selectElem (change)="setNewUser(selectElem.value)">
            <option *ngFor="let task of tasks" [value]="task.id">
                {{task.date}} {{task.url}}
            </option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card class="inline-form-card">
      <nb-card-header>Video Label</nb-card-header>
      <nb-card-body>
        <div class="col-md-12">
          <ngx-analysis-radar [analysis]="analysis"  style="margin: 0 auto;display: table;"></ngx-analysis-radar>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card class="inline-form-card">
      <nb-card-header>Video Stream</nb-card-header>
      <nb-card-body>
        <div class="col-md-12" #container>
          <div *ngIf="!show_button" [innerHtml]="iframe_html" style="margin: 0 auto;display: table;position: relative;"></div>
          <!--;else other_content" ng-template #other_content-->
            <button #urlbtn class="btn btn-hero-info btn-demo col-md-12" (click)="goUrl()" style="margin:5px;" [disabled]="!show_url">View Video Stream</button>
          <!--/ng-template-->
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Frame Recognition</nb-card-header>
      <nb-card-body style="margin: auto;padding-bottom: 50px;">
        <div class="col-md-12">
          <ngx-bubble-chart [analysis]="analysis" style="margin: 0 auto;display: table;"></ngx-bubble-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Video Timeline</nb-card-header>
      <nb-card-body>
        <div class="col-md-12" style="margin-top: 20px;margin-bottom: 20px;">
          <ngx-timeline [analysis]="analysis" style="margin: 0 auto;display: table;"></ngx-timeline>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!--div class="col-lg-6">
    <nb-card class="inline-form-card">
      <nb-card-header>Audio Transcription</nb-card-header>
      <nb-card-body>
        Coming soon...
      </nb-card-body>
    </nb-card>
  </div-->
</div>

