<div *ngIf="empty" class="alert alert-danger" role="alert" style="margin: 20px;text-align:center;">
  <strong>You have not submitted any task yet! Do you want to <a href="#/pages/forms/newtask" style="color: #993d4c;">submit a new task</a> to analyze,
    or view an <a href="#/pages/charts/pictures?task=1517195444691" style="color: #993d4c;">example</a>?</strong>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Select Task to Analyze</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <!--label>Select your task to view the analysis</label-->
          <select class="form-control" #selectElem (change)="setNewUser(selectElem.value)">
            <option *ngFor="let task of tasks" [value]="task.id">
                {{task.date}} {{task.url}}
            </option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!--div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Cluster Analysis</nb-card-header>
      <nb-card-body-->
        <!--div [innerHTML]="html"></div-->
        <!--div class="row" #clusterbody>
          <div class="col-md-12" style="height: 800px;position: relative;">
            <nvd3 id="mychart" [options]="options" [data]="data" style="width: 100%; height: 800px; position: absolute;margin: auto;"></nvd3>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div-->
