/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

 ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;

  li {
    cursor: pointer;
    margin-bottom: -1px;
    text-align: center;

    &.active a::before {
      display: block;
    }

    a {
      position: relative;
      text-decoration: none;
      display: inline-block;

      &::before {
        display: none;
        position: absolute;
        content: '';
        width: 100%;
        height: 6px;
        border-radius: 3px;
        bottom: -2px;
        left: 0;
      }
    }
  }
}

:host.full-width ul {
  justify-content: space-around;
}
