/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

 :host {
  display: block;


  &.full-width ul {
    justify-content: space-around;
  }

  /deep/ nb-tab {
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow: auto;

    display: none;
    &.content-active {
      display: block;
    }
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;

  li {
    cursor: pointer;
    margin-bottom: -1px;
    text-align: center;
    position: relative;

    &.active a::before {
      display: block;
    }

    a {
      position: relative;
      text-decoration: none;
      display: inline-block;

      &::before {
        display: none;
        position: absolute;
        content: '';
        width: 100%;
        height: 6px;
        border-radius: 3px;
        bottom: -2px;
        left: 0;
      }
    }
  }
}
