<nb-card>
  <nb-card-header>Frequency of Mentions</nb-card-header>
  <nb-card-body [style.opacity]="curr == 0 ? 0.3 : 1.0">
    <div class="row" style="padding-bottom: 1rem;">
      <div class="col-md-9">
        <ngx-analysis-bar [analysis]="displayList" class="col-md-12 col-lg-12" (update)="removal($event)"></ngx-analysis-bar>
        <!--ngx-analysis-bar-neg [analysis]="displayList" [style.height]="160" class="col-md-12 col-lg-12" (update)="removal($event)" #neg></ngx-analysis-bar-neg-->
      </div>

      <ng2-smart-table [settings]="chartSettings" [source]="chartSource" class="col-md-3">
      </ng2-smart-table>
    </div>

    <br>

    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-hero-info btn-demo col-md-12" (click)="combine()" style="margin:5px;" [disabled]="curr == 0">Combine</button>
        <button class="btn btn-hero-danger btn-demo col-md-12" (click)="delete()" style="margin:5px;" [disabled]="curr == 0">Delete</button>
        <br><br><br><br>
        <button class="btn btn-hero-success btn-demo col-md-12" (click)="save()" style="margin:5px;" [disabled]="curr == 0">Save</button>
        <button class="btn btn-hero-success btn-demo col-md-12" (click)="open()" style="margin:5px;" [disabled]="curr == 0">Open</button>
        <button class="btn btn-hero-primary btn-demo col-md-12" (click)="clear()" style="margin:5px;" [disabled]="curr == 0">Reset</button>
      </div>

      <ng2-smart-table [settings]="mainSettings" [source]="mainSource" class="col-md-7" (rowSelect)="select($event)">
      </ng2-smart-table>

      <ng2-smart-table [settings]="actionSettings" [source]="actionSource" class="col-md-3">
      </ng2-smart-table>

    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Common Phrases</nb-card-header>
  <nb-card-body [style.opacity]="curr == 0 ? 0.3 : 1.0">
    <ng2-smart-table [settings]="lcsSettings" [source]="lcsSource" class="col-md-3">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>