@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-analysis-pie,
  ngx-analysis-bar,
  ngx-analysis-line,
  ngx-analysis-multiple-xaxis,
  ngx-analysis-bar-horizontal,
  ngx-analysis-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.smart-table-container{
  overflow-x: scroll;
}

#elli {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:160px;
  display:inline-block;
}

#elliSmall {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:100px;
  display:inline-block;
}

#elliMid {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:120px;
  display:inline-block;
}

#elliLarge {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:200px;
  display:inline-block;
}
