<div class="row">

    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Tier {{tierTitle}}</nb-card-header>
        <nb-card-body>
          <div class="row" style="padding-bottom: 1rem;">

            <div class="row col-md-3" style="margin-right:2rem;">
              <button class="btn btn-hero-success btn-demo col-md-10" (click)="add(tier)" style="height: 60px;margin: 10px;">Add URL</button>
              <ng2-smart-table [settings]="urlSettings" [source]="urlSource" class="col-md-10" >
              </ng2-smart-table>
            </div>

            <div class="col-md-6">
              <ngx-analysis-bar [analysis]="displayList" class="col-md-12" (update)="removal($event)"></ngx-analysis-bar>
              <!--ngx-analysis-bar-neg [analysis]="displayList" [style.height]="160" class="col-md-12" (update)="removal($event)" #neg></ngx-analysis-bar-neg-->
            </div>

            <ng2-smart-table [settings]="chartSettings" [source]="chartSource" class="col-md-2">
            </ng2-smart-table>
          </div>

          <br>

          <div class="row">
            <div class="col-md-2">
              <button class="btn btn-hero-info btn-demo col-md-12" (click)="combine()" style="margin:5px;">Combine</button>
              <button class="btn btn-hero-danger btn-demo col-md-12" (click)="delete()" style="margin:5px;">Delete</button>
            </div>

            <ng2-smart-table [settings]="mainSettings" [source]="mainSource" class="col-md-7" (rowSelect)="select($event)">
            </ng2-smart-table>

            <ng2-smart-table [settings]="actionSettings" [source]="actionSource" class="col-md-3">
            </ng2-smart-table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
