@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-analysis-pie,
  ngx-analysis-bar,
  ngx-analysis-line,
  ngx-analysis-multiple-xaxis,
  ngx-analysis-bar-horizontal,
  ngx-analysis-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
