<toaster-container [toasterconfig]="config"></toaster-container>

<div *ngIf="empty" class="alert alert-danger" role="alert" style="margin: 20px;text-align:center;">
  <strong>You have not submitted any task yet! Do you want to <a href="#/pages/forms/newtask" style="color: #993d4c;">submit a new task</a> to analyze,
    or view an <a href="#/pages/charts/analysis?task=1517195444691" style="color: #993d4c;">example</a>?</strong>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Select Task to Analyze</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <!--label>Select your task to view the analysis</label-->
          <select class="form-control" #selectElem (change)="setNewUser(selectElem.value)">
            <option *ngFor="let task of tasks" [value]="task.id">
                {{task.date}} {{task.url}}
            </option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <ngx-mentions [verbatim]="verbatim" [curr]="curr" [task]="currTaskId" #mentions></ngx-mentions>
  </div>

  <!--div class="col-lg-12">
    <ngx-cloud [curr]="curr" #cloud></ngx-cloud>
  </div-->

  <!--div class="col-lg-6">
    <nb-card>
      <nb-card-header>Sentiment Analysis (Coming soon)-->
        <!--button [disabled]="!enable[1]" class="btn btn-hero-danger btn-demo" (click)="unlock(1)"
          *ngIf="!has[1] && curr > 0 && !pending[1]" style="float: right;">Unlock: 50 credits</button>
        <button class="btn btn-hero-info btn-demo" *ngIf="pending[1]" style="float: right;">Processing</button-->
      <!--/nb-card-header>
      <nb-card-body>
        <div *ngIf="errors[1]"
            class="alert alert-danger" role="alert" style="background-color: white">
          <div><strong>Insufficient credits! Please top up 😥</strong></div>
        </div>
        <ngx-analysis-pie [analysis]="analysis[1]" [style.opacity]="(!has[1] || curr == 0) ? 0.3 : 1.0"></ngx-analysis-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Trending Words (Coming soon)-->
        <!--button [disabled]="!enable[2]" class="btn btn-hero-danger btn-demo" (click)="unlock(2)"
          *ngIf="!has[2] && curr > 0 && !pending[2]" style="float: right;">Unlock: 50 credits</button>
        <button class="btn btn-hero-info btn-demo" *ngIf="pending[2]" style="float: right;">Processing</button-->
      <!--/nb-card-header>
      <nb-card-body>
        <div *ngIf="errors[2]"
            class="alert alert-danger" role="alert" style="background-color: white">
          <div><strong>Insufficient credits! Please top up 😥</strong></div>
        </div>
        <ngx-analysis-line [analysis]="analysis[2]" [style.opacity]="(!has[2] || curr == 0) ? 0.3 : 1.0"></ngx-analysis-line>
      </nb-card-body>
    </nb-card>
  </div-->

</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>How to use the search filter</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12"><img [src]="TUT" style="display: block;width: 100%;height: auto;"/></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ngx-verbasearch [verbatim]="verbatim"></ngx-verbasearch>

<ngx-caroulery [internalTileItems]="carouselList" #carousel></ngx-caroulery>

