<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Analyze Video Stream</nb-card-header>

      <nb-card-body>
        <label class="col-sm-12 col-form-label">
          Currently we only support Youtube videos
        </label><br><br>

          <div *ngIf="errors && errors.length > 0 && !submitted"
              class="alert alert-danger" role="alert" style="background-color: white">
            <div><strong>Oh snap! Something went wrong with your submission 😥</strong></div>
            <div *ngFor="let error of errors">{{ error }}</div>
          </div>

          <div *ngIf="messages && messages.length > 0 && !submitted"
              class="alert alert-success" role="alert" style="background-color: white">
            <div><strong>Your task has been submitted to us! 👍</strong></div>
            <div>You will be able to access this video analytics once processing has been completed</div>
          </div>

        <form class="form-inline" (ngSubmit)="submit(form)" name="form" #form="ngForm" autocomplete="nope">

          <div class="input-group full-width">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-icon" type="button">
                <i class="ion-heart"></i>
              </button>
            </span>
            <input name="url" type="url" class="form-control" placeholder="Enter the URL of the video"
              [(ngModel)]="submission.url" #url="ngModel" required
              [class.form-control-danger]="url.invalid && url.touched" autofocus
              [required]="true" [autofocus]="false">
          </div>
          <button [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted"
            type="submit" class="btn btn-primary">Submit</button>
        </form>

        <small class="form-text error" *ngIf="url.invalid && url.touched" style="margin-bottom: 1rem;">
          Valid URL is required!
        </small>

      </nb-card-body>
    </nb-card>
  </div>
</div>
