<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Search Verbatim
          <div class="input-group has-person-icon row">
            <select class="form-control col-md-2" #selectElem1 (change)="setIn(selectElem1.value)" style="margin-left:10px;margin-right:5px;">
              <option *ngFor="let task of tasks1" [value]="task.id">
                  {{task.description}}
              </option>
            </select>

            <input type="text" placeholder="Search for comments that contain" class="form-control col-md-5"
              [(ngModel)]="filterInput" (ngModelChange)="include($event)" />

            <input type="text" placeholder="Exclude comments that contain" class="form-control col-md-5" style="margin-left:5px;margin-right:10px;"
              [(ngModel)]="excludeInput" (ngModelChange)="exclude($event)" />
            <!--select class="form-control col-md-2" #selectElem2 (change)="setEx(selectElem2.value)">
              <option *ngFor="let task of tasks2" [value]="task.id">
                  {{task.description}}
              </option>
            </select-->
          </div>
          <small class="form-text col-md-12" style="margin-top: 1rem;">
            You may use commas to separate your search terms
          </small>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <ng2-smart-table [settings]="settings" [source]="source" class="col-md-12">
            </ng2-smart-table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
