.input-group.has-person-icon {
  position: relative;
  margin-top: 1rem;

  .form-control {
    padding-left: 3rem;
  }

  &::before {
    content: '\F2F5';
    font-family: 'Ionicons';
    font-size: 2rem;
    position: absolute;
    color: rgba(0, 0, 0, .2);
    z-index: 100;
    left: 1rem;
    top: 0.25rem;
  }
}
