<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()"><img [src]="user?.icon" style="margin-right: 10px;"> Where Got<span> Text</span></div>
  </div>
  <!--ngx-theme-switcher></ngx-theme-switcher-->
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action>
    <nb-user [menu]="userMenu" [name]="userInterface.name" [picture]="user?.picture"></nb-user>
  </nb-action>
</nb-actions>
