<div class="modal-header">
  <span>Open your saved analysis</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng2-smart-table [settings]="settings" [source]="source">
  </ng2-smart-table>
</div>
<div class="modal-footer">
</div>
