<div class="modal-header">
  <span>Save your analysis</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert" style="background-color: white">
    <div><strong>Oh snap! Something went wrong, please try again later 😥</strong></div>
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>

  <div *ngIf="messages && messages.length > 0" class="alert alert-success" role="alert" style="background-color: white">
    <div><strong>Your analysis has been saved 👍</strong></div>
    <div>You may revisit this analysis by clicking the open button and select it</div>
  </div>

  <small class="form-text error" *ngIf="(url.invalid && url.touched)" style="margin-bottom: 1rem;">
    Title is required!
  </small>

  <form class="form-inline" (ngSubmit)="submit(form)" name="form" #form="ngForm" autocomplete="nope">

    <input name="url" type="url" class="form-control col-md-8" placeholder="Enter a title for your analysis"
      [(ngModel)]="submission" #url="ngModel" required
      [class.form-control-danger]="url.invalid && url.touched" autofocus
      [required]="true" [autofocus]="false" style="margin-right: 1rem;">

    <button class="btn btn-md btn-primary col-md-3" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" >Save</button>
  </form>
</div>
<div class="modal-footer">
</div>
