* {
  box-sizing: border-box;
}

.br {
  position: relative;
  margin: 15px 0;
}

.br-units {
  display: flex;
  flex-wrap: nowrap;
}

.br-unit {
  cursor: pointer;
  // some tweaks
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}

.br-selected {
}

.br-readonly, .br-disabled {
  .br-unit {
    cursor: default;
  }
}

.br-horizontal {

  display: flex;
  justify-content: center;
  align-items: center;

  .br-units {
  }

  .br-unit {
    display: block;
    width: 28px;
    height: 20px;
    float: left;
    background-color: lighten(#40dc7e, 25%);
    margin: 1px;
    text-align: center;

    &.br-active,
    &.br-selected {
      background-color: #40dc7e;
    }
  }

  &.br-readonly {
    .br-unit {
      cursor: default;

      &.br-active,
      &.br-selected {
        background-color: lighten(#40dc7e, 10%);
      }
    }

  }
  .br-text {
    width: 20px;
    margin-left: 20px;
    font-size: 18px;
    color: #40dc7e;
  }
}
