<nb-card>
    <nb-card-header>Word Cloud
    </nb-card-header>
    <nb-card-body [style.opacity]="curr == 0 ? 0.3 : 1.0">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12" AgWordCloud
                    #word_cloud_chart=ag-word-cloud
                    [wordData]="words"
                    [options]="options"
                    [width]="width"
                    [height]="height">
                </div>
            </div>
            <div class="row col-md-4">
              <select class="form-control col-md-12" #selectElem (change)="set(selectElem.value)" style="margin: 20px;">
                <option *ngFor="let lim of limits" [value]="lim.value">
                    {{lim.hint}}
                </option>
              </select>
              <ng2-smart-table [settings]="settings" [source]="source" class="col-md-12">
              </ng2-smart-table>
            </div>
        </div>
    </nb-card-body>
</nb-card>
