<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <nb-card class="col-md-12">
    <nb-card-header>Getting Started</nb-card-header>
    <nb-card-body>
      <div>
        <ngx-carousel
          [inputs]="carouselTile"
          (carouselLoad)="carouselTileLoad($event)" #carousel>

            <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
              <div class="item row" style="width: 100%;background-size: cover;"
              [style.backgroundImage]="'url('+ Tile.back +')'">
                <div class="tile fill central row">
                  <div class="col-md-12" style="background: none;">
                    <img [src]="Tile.img" style="margin: 40px;max-width: 50%;">
                  </div>
                  <div class="col-md-12">
                    <strong>{{Tile.title}}</strong>
                  </div>
                  <div class="col-md-12" style="margin: 30px;" [innerHTML]="Tile.desc">

                  </div>
                  <div [hidden]="!Tile.action" style="margin: 10px;">
                    <a href="{{Tile.link}}">
                      <button class='btn btn-hero-primary btn-demo'><strong>{{Tile.act}}</strong></button>
                    </a>
                  </div>
                  <div [hidden]="!Tile.action2" style="margin: 10px;">
                    <a href="{{Tile.link2}}">
                      <button class='btn btn-hero-primary btn-demo'><strong>{{Tile.act2}}</strong></button>
                    </a>
                  </div>
                </div>
              </div>
            </ngx-tile>

          <button NgxCarouselPrev class='leftRs btn btn-hero-success btn-demo'>&lt;</button>
          <button NgxCarouselNext class='rightRs btn btn-hero-success btn-demo'>&gt;</button>

        </ngx-carousel>
      </div>
    </nb-card-body>
  </nb-card>

    <!--div class="col-xxxl-3 col-md-6"><a href="#/pages/charts/analysis?task=1517195444691" style="outline:none;text-decoration:none;">
      <ngx-status-xcard title="Analysis" type="primary" status="View example">
        <i class="nb-bar-chart"></i>
      </ngx-status-xcard></a>
    </div>

    <div class="col-xxxl-3 col-md-6"><a href="#/pages/charts/cloud?task=1517195444691" style="outline:none;text-decoration:none;">
      <ngx-status-xcard title="Word Cloud" type="success" status="View example">
        <i class="nb-cloudy"></i>
      </ngx-status-xcard></a>
    </div-->

  <!--div class="col-xxxl-3 col-md-6"><a href="#/pages/charts/viduce?task=2018-03-11-09-31-31gdydvkyf" style="outline:none;text-decoration:none;">
      <ngx-status-xcard title="Viduce - Video" type="info" status="View example">
        <i class="nb-audio"></i>
      </ngx-status-xcard></a>
    </div>

    <div class="col-xxxl-3 col-md-6"><a href="#/pages/charts/audio?task=2018-03-11-09-31-31gdydvkyf" style="outline:none;text-decoration:none;">
      <ngx-status-xcard title="Viduce - Audio" type="warning" status="View example">
        <i class="nb-volume-high"></i>
      </ngx-status-xcard></a>
    </div-->

    <!--div class="col-xxxl-3 col-md-6"><a href="#/pages/charts/verbatim?task=1517195444691" style="outline:none;text-decoration:none;">
      <ngx-status-xcard title="Search Verbatim" type="info" status="View example">
        <i class="nb-title"></i>
      </ngx-status-xcard></a>
    </div>

    <div class="col-xxxl-3 col-md-6"><a href="#/pages/charts/pictures?task=1517195444691" style="outline:none;text-decoration:none;">
      <ngx-status-xcard title="Pictures from URLs" type="warning" status="View example">
        <i class="nb-layout-default"></i>
      </ngx-status-xcard></a>
    </div-->

    <!--div class="col-xxxl-3 col-md-6">
      <ngx-status-xcard title="Version" type="primary" status="BETA 0.1">
        <i class="nb-lightbulb"></i>
      </ngx-status-xcard>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-xcard title="Credits" type="success" [status]="userInterface.credits + ' remaining'">
        <i class="nb-heart"></i>
      </ngx-status-xcard>
    </div-->

    <!--div class="col-md-12">
      <nb-card>
        <nb-card-header>Are you a Beginner?</nb-card-header>
        <nb-card-body>
          <div class="col-md-12" style="padding-top: 15px;padding-bottom: 15px;">
            <img [src]="LOGO"  style="display: flex;flex-direction: column;height: 60vh;margin: 0 auto;">
          </div>
        </nb-card-body>
      </nb-card>
    </div-->

    <!--div class="col-xxxl-3 col-md-6">
      <ngx-status-xcard title="Completed" type="info" [status]="userInterface.completed + ' tasks'">
        <i class="nb-notifications"></i>
      </ngx-status-xcard>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-xcard title="In Progress" type="warning" [status]="userInterface.progress + ' tasks'">
        <i class="nb-sunny"></i>
      </ngx-status-xcard>
    </div-->
</div>

<!--div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Top Up Credits</nb-card-header>
      <nb-card-body>
        <div *ngIf="error && error.length > 0 && !disable"
            class="alert alert-danger" role="alert" style="background-color: white">
          <div><strong>Oh snap! Something went wrong 😥</strong></div>
          <div>{{ error }}</div>
        </div>

        <div *ngIf="message && message.length > 0 && !disable"
            class="alert alert-success" role="alert" style="background-color: white">
          <div><strong>Top up successful! 👍</strong></div>
        </div>

        <form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest">
        <div class="row input-group">
          <div class="col-sm-4 dropdown" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>
              {{item}}
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" (click)="select(0)">100 Credits - {{prices[0]}}</li>
              <li class="dropdown-item" (click)="select(1)">500 Credits - {{prices[1]}}</li>
              <li class="dropdown-item" (click)="select(2)">1,000 Credits - {{prices[2]}}</li>
              <li class="dropdown-item" (click)="select(3)">5,000 Credits - {{prices[3]}}</li>
              <li class="dropdown-item" (click)="select(4)">10,000 Credits - {{prices[4]}}</li>
            </ul>
          </div>
        </div>
        <div class="row input-group">
          <div id="card-element" class="field col-sm-8" style="padding-left:1rem;padding-right:5rem;"#card></div>
          <button [disabled]="disable" class="col-sm-2 btn btn-success btn-semi-round btn-demo paybutton"
          type="submit">Purchase</button>
        </div>

        </form>
      </nb-card-body>

    </nb-card>
  </div>
</div-->

<!--div class="row">
  <div class="col-md-12">
    <ngx-contacts></ngx-contacts>
  </div>
</div-->
